<div class="product-list-box container">
    <ul class="row">
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>
       <li class="col-md-3 col-sm-6 product-list">
            <a href="####"><img src="img/product/cw.jpg" alt=""></a>
        </li>

    </ul>
</div>