<div class="product-desc-container" id="write-review">
    <div class="container">
        <div class="row">
            <p class="col-md-12 col-12 rating-title">Rating</p>
            <p class="col-md-12 col-12 star-box">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star-half-o"></span>
                <span class="fa fa-star-o"></span>
            </p>

            <p class="col-md-12 col-12 rating-title">Your Full Name</p>
            <p class="col-md-12 col-12 star-box">
                <input type="text" placeholder="Name" class="review-ipt" required/>
            </p>

            <p class="col-md-12 col-12 rating-title">Your Review</p>
            <p class="col-md-12 col-12 star-box">
                <textarea name="" id="review-text-box" class="review-text-box" cols="30" rows="5"></textarea>

            </p>
            <p class="col-md-12 col-12">
            <div class="col-md-12 submit-img">
                <img src="img/product/T20856_02182_main.jpg" alt="">
                <img src="img/product/T20856_02182_main.jpg" alt="">
                <img src="img/product/T20856_02182_main.jpg" alt="">
                <img src="img/product/T20856_02182_main.jpg" alt="">
            </div>
            <input type="button" value="add image" class="submit-img-btn"/>
            </p>
            <p class="col-md-12 col-12 submit-btn">
                <button>SUBMIT</button>
            </p>

        </div>
    </div>
</div>