/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/4 0004
 * Time: 19:09
 */
.product-list-box {
    background: #F1F1F1;
    border-radius: 0.25rem;
    padding: 15px;
    margin-bottom: 15px;
}

.select-box .input-group{
    width: auto;
    /*margin: 0 auto;*/
}
.select-box .input-group:nth-child(2){
    float: right;
}
.product-list {
    min-height: 400px;
    /*background: grey;*/
    list-style: none;
    text-align: center;
}

ul {
    padding-left: 0;
}

.product-list img {
    width: 100%;
}

.product-list p {
    line-height: 20px;
    padding: 4px 4px 10px 4px;
    text-align: center
}

.product-list {

    padding: 0px 0px;
    transition: all .5s
}

.product-list-container {
    margin: 10px 15px;
    background: #fff;
    padding: 10px 0;
    /*border-radius: 10px;*/
    /*border: 1px solid transparent;*/
    transition: all .5s;
}
.product-list-container:hover {
    /*border: 1px solid #f90;*/
    /*border-radius: 10px;*/
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.product-list h4 {
    line-height: 32px;
    font-size: 14px;
    color: #f30;
    font-weight: 500
}

.product-list h4 span {
    font-size: 20px
}
.product-list .product-list-price,
.product-list .product-list-title,
.product-list .product-list-star{
    padding: 0;
    margin: 5px auto;
}
.product-list .special-price {
    font-size: 20px;
    /*color: grey;*/
    /*text-decoration: line-through;*/
}
.product-list .origin-price {
    margin-left: 5px;
    font-size: 15px;
    color: grey;
    text-decoration: line-through;
}
.product-list .product-list-percent{
text-align: center;
z-index: 10;
display: block;
position: absolute;
top: 10px;
right: 10px;
padding: 7px 0;
line-height: 16px;
height: 46px;
width: 46px;
font-size: 14px;
background: #ff7e00;
color: #fff;
border-radius: 50%;
}
.product-list .fa-star{
    color: #faa51a;
}
.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei', Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.container {
    min-width: 320px;
}

@media (max-width: 768px) {
    .product-list {
        padding: 5px;
        min-height: 320px;
    }
    .product-list-container {
        margin: 0;
        /*background: #fff;*/
        padding:0px;
        /*border-radius: 10px;*/
    }

    .orange {
    }

    .button {
        padding: 0.45em .32em .5em;
    }
}