/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/20 0020
 * Time: 16:54
 */
#content-desc-box {
    margin-bottom: 30px;
}
@media (min-width: 1200px){
    .product-desc-container .container{
        max-width: 1640px;
    }
}

.product-desc-container .container{
    /*border-bottom: 1px solid #ced4da;*/
}
.product-desc-container .row{
    margin: 0;
    /*background:rgba(241,241,241,.5);*/
    border: 1px solid #ced4da;
    padding-top:10px;
    padding-bottom:10px;
}
.product-desc-container .row .rating-title,
.product-desc-container .row .star-box {
    display: block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.review-text-box{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
}
input.review-ipt {
    height: 35px;
    padding: 0 10px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
}
.submit-img{
    text-align: center;
}
.submit-img img{
    display: inline-block;
    width: 23%;

}
.submit-img-btn{
    width: auto;
    display: inline-block;
    margin: 10px auto;
}
.submit-btn button{
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
    margin: 15px auto;
    padding: 5px 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#C8C8C8), to(#FFFFFF),to(#C8C8C8));
}
.fa-star,.fa-star-o,.fa-star-half-o{
    color: #fb6426;
}
@media (min-width: 767px){
    .submit-btn button{
         width: auto;
        cursor: pointer;
    }
}
