<script type="text/javascript" src="js/countDown.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<div class="product-info-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-12 info-img-block">
                <div class="swiper-info-container">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                            ><a class="fancybox" href="img/product/T20856_3412_main.jpg"
                                data-fancybox-group="gallery"><img src="img/product/T20856_3412_main.jpg"/></a></div>
                            <div class="swiper-slide"
                            ><a class="fancybox" href="img/product/T20856_3412_alt1.jpg"
                                data-fancybox-group="gallery"><img src="img/product/T20856_3412_alt1.jpg"/></a></div>
                            <div class="swiper-slide"
                            ><a class="fancybox" href="img/product/T20856_3412_alt2.jpg"
                                data-fancybox-group="gallery"><img src="img/product/T20856_3412_alt2.jpg"/></a></div>
                            <div class="swiper-slide"
                            ><a class="fancybox" href="img/product/T20856_3412_alt3.jpg"
                                data-fancybox-group="gallery"><img src="img/product/T20856_3412_alt3.jpg"/></a></div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"
                            ><img src="img/product/T20856_3412_main.jpg"/></div>
                            <div class="swiper-slide"
                            ><img src="img/product/T20856_3412_alt1.jpg"/></div>
                            <div class="swiper-slide"
                            ><img src="img/product/T20856_3412_alt2.jpg"/></div>
                            <div class="swiper-slide"
                            ><img src="img/product/T20856_3412_alt3.jpg"/></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('.fancybox').fancybox();
                })
            </script>
            <div class="col-lg-7 col-md-6 col-12 info-msg-block">
                <h4 class="col-12 product-info-title">MR EMBROIDERY BD SHIRT MENS</h4>
                <p class="col-12 product-info-sku">Model:<span>HMZT0120181208</span></p>
                <p class="col-12 product-info-breif">
                    <small>
                        Soft squared acetate shape.
                        The style is characterized by a flat front and by
                        thin profiles which convey lightness to its bold design.
                        Metal T logo decoration.
                    </small>
                </p>
                <p class="col-12 product-info-star">
                    <span class="info-star-box">
                        <i class="fa fa-star red-fn"></i>
                        <i class="fa fa-star red-fn"></i>
                        <i class="fa fa-star red-fn"></i>
                        <i class="fa fa-star red-fn"></i>
                        <i class="fa fa-star-half-o red-fn"></i>
                    </span>

                    <a href="###" class="info-star-review">
                        <i class="star-review-count">(12)</i>
                        Reviews
                    </a>
                    <a href="#write-review" class="info-star-review">
                        Write a Reviews
                    </a>
                </p>
                <p class="col-12 product-info-price">
                    <span class="special-price red-fn"><i>$</i>789.00</span>
                    <span class="origin-price light-gray-fn"><i>$</i><s>1789.00</s></span>
                    <span class="saveoff-percent red-fn">Save: <i>85.50%</i>Off</span>
                </p>

                <div class="col-12 product-info-countdown">
                    <p>UP TO 60% OFF!<br/>
                        The special offers of the month, only 3 days!<br/>
                        LIMITATION:2018-12-9 - 2018-12-11</p>
                    <p class="info-countdown-box">
                        <input type="hidden" name="countDown" data-title="" value="2018/12/12 12:24:50"> <span></span>
                    </p>
                </div>

                <!--<div class="col-md-6 col-12 product-info-select">-->
                <!--<div class="info-select-size">-->
                <!--<h6>Size:</h6>-->
                <!--<select class="form-control">-->
                <!--<option>XXL</option>-->
                <!--<option>XL</option>-->
                <!--<option>L</option>-->
                <!--<option>M</option>-->
                <!--<option>S</option>-->
                <!--</select>-->
                <!--<ul class="select-block-box">-->
                <!--<li class="select-block hover-bg-opposite">XXXXXL</li>-->
                <!--<li class="select-block hover-bg-opposite">XL</li>-->
                <!--<li class="select-block hover-bg-opposite">L</li>-->
                <!--<li class="select-block hover-bg-opposite">M</li>-->
                <!--<li class="select-block hover-bg-opposite">S</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="info-select-color">-->
                <!--<h6>Color:</h6>-->
                <!--<select class="form-control">-->
                <!--<option>RED</option>-->
                <!--<option>BROWN</option>-->
                <!--<option>BLACK</option>-->
                <!--<option>NAVY BLUE</option>-->
                <!--<option>PINK</option>-->
                <!--</select>-->
                <!--<ul class="select-block-box">-->
                <!--<li class="select-block color-red"></li>-->
                <!--<li class="select-block color-blue"></li>-->
                <!--<li class="select-block color-yellow"></li>-->
                <!--<li class="select-block color-green"></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-12 product-info-qty">-->
                <!--<h6>QTY:</h6>-->
                <!--<div class="input-group">-->
                <!--<div class="input-group-append">-->
                <!--<button class="btn btn-outline-secondary fa fa-minus" type="button"></button>-->
                <!--</div>-->
                <!--<input type="number" oninput="if(value<0)value=0" class="form-control" placeholder=""-->
                <!--aria-label="" aria-describedby="">-->
                <!--<div class="input-group-append">-->
                <!--<button class="btn btn-outline-secondary fa fa-plus" type="button"></button>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="product-select-box col-lg-12 col-12" style="overflow: hidden">
                    <div class="col-lg-3 col-3 product-info-qty">
                        <span class="qty-title">QTY:</span>
                        <select name="QTY" id="qty" class="qty">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>

                    </div>
                    <div class="col-lg-3 col-5 product-info-size">
                        <span class="size-title">Size:</span>
                        <select name="size" id="size" class="size">
                            <option value="">Please select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-5 product-info-color">
                        <span class="color-title">Color:</span>
                        <select name="color" id="color" class="color">
                            <option value="">Please select</option>
                            <option value="XL">XL</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="S">S</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-2 product-info-sizeChart">
                        <a href="###">SizeChart</a>
                    </div>
                </div>

                <div class="col-12 product-info-total">
                    <p style="width: 100%;">
                        <span class="info-total-title">Total:</span>
                        <span class="info-total-amount red-fn"><i>$</i>789.00</span>
                        <span class="info-total-tips">(Earn <span
                                class="red-fn">21</span><i>Dresslink Points</i>)</span>
                    </p>
                </div>

                <div class="col-12 product-info-submit">
                    <button type="button" class="col-md-6 col-12 btn btn-default black-btn">
                        <a href="cart.html"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
                    </button>
                </div>


                <div class="col-12 product-info-description">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-info-circle fa-icons"></i>Description
                                    </button>

                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                        <i class="fa fa-pencil-square-o"></i>
                                        Review<span class="badge btn-warning badge-pill">14</span>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body container">
                                    <!--<div class="row">-->
                                    <!--<div class="col-12 review-header-box">-->
                                    <!--<div class="review-name-box">-->
                                    <!--<span class="review-name-img">-->
                                    <!--<i class="fa fa-user"></i>-->
                                    <!--</span>-->
                                    <!--<p class="review-name-txt">James Chy</p>-->
                                    <!--</div>-->
                                    <!--<div class="review-star-box">-->
                                    <!--<p class="star-box">-->
                                    <!--<span class="fa fa-star"></span>-->
                                    <!--<span class="fa fa-star"></span>-->
                                    <!--<span class="fa fa-star"></span>-->
                                    <!--<span class="fa fa-star"></span>-->
                                    <!--<span class="fa fa-star"></span>-->
                                    <!--</p>-->
                                    <!--<p class="time-box">-->
                                    <!--<span class="review-name-txt">Sep.5/2018</span>-->
                                    <!--</p>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-12 review-body-box">-->
                                    <!--<div class="review-content-box">-->
                                    <!--<p class="review-content-txt">Anim pariatur cliche reprehenderit, enim-->
                                    <!--eiusmod high life accusamus terry richardson ad squid. 3 wolf moon-->
                                    <!--officia aute, non cupidatat skateboard dolor brunch. Food truck-->
                                    <!--quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt-->
                                    <!--aliqua put a bird on it squid single-origin coffee nulla assumenda-->
                                    <!--shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes-->
                                    <!--anderson cred nesciunt sapiente ea proident. Ad vegan excepteur-->
                                    <!--butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw-->
                                    <!--denim aesthetic synth nesciunt you probably haven't heard of them-->
                                    <!--accusamus labore sustainable VHS.</p>-->
                                    <!--<p class="review-content-img">-->
                                    <!--<img src="img/product/T20856_02182_main.jpg" alt="">-->
                                    <!--<img src="img/product/T20856_02182_alt1.jpg" alt="">-->
                                    <!--<img src="img/product/T20856_02182_alt2.jpg" alt="">-->
                                    <!--<img src="img/product/T20856_02182_alt3.jpg" alt="">-->
                                    <!--</p>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->


                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                        <i class="fa fa-truck fa-icons"></i>Shipping & Returns
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p class="body-shipping-img">
                                        <img src="img/logo/trade.png" alt="">
                                    </p>
                                    <p class="body-shipping-text">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt
                                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                        sapiente
                                        ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                                        them
                                        accusamus labore sustainable VHS.
                                    </p>
                                    <p class="card-body-img"><img src="" alt=""></p>
                                    <p class="card-body-text">0002120</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 product-info-share">
                    <!--<h6>Share To:</h6>-->
                    <ul class="info-share-box">
                        <li><a class="share-to-fb"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="share-to-tw" id="share-twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="share-to-ig"><i class="fa fa-instagram"></i></a></li>
                        <li><a class="share-to-pt"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>

                <script type="text/javascript">
                    $("#share-twitter").on('click',function(){
                        var pageTitle = $(document).attr("title","");
                        var pageLink = window.location.href
                        var text = pageTitle + pageLink;
                        window.open("https://twitter.com/intent/tweet?text="+encodeURIComponent(text));

                        console.log(pageTitle);
                        console.log(pageLink);
                    });
                </script>


            </div>
        </div>
    </div>
</div>
<style type="text/css">
    /*.red-fn {*/
    /*color: #dc3545;*/
    /*}*/
    .product-info-star span：hover {

    }
</style>
<script type="text/javascript">
    var i;
    var arrImg = ['512', '02182', '3412', '4818', '5426'];
    var index;
    var srcImg;
    for (i = 0; i < 16; i++) {
        index = Math.floor((Math.random() * arrImg.length));
        srcImg = arrImg[index];
        $("#collapseTwo .card-body").append(
            "<div class='row'>" +
            "<div class='col-12 review-header-box'>" +
            "<div class='review-name-box'>" +
            "<span class='review-name-img'>" +
            "<i class='fa fa-user'></i>" +
            "</span>" +
            "<p class='review-name-txt'>James Chy</p>" +
            "</div>" +
            "<div class='review-star-box'>" +
            "<p class='star-box'>" +
            "<span class='fa fa-star'></span>" +
            "<span class='fa fa-star'></span>" +
            "<span class='fa fa-star'></span>" +
            "<span class='fa fa-star'></span>" +
            "<span class='fa fa-star'></span>" +
            "</p>" +
            "<p class='time-box'>" +
            "<span class='review-name-txt'>Sep.5/2018</span>" +
            "</p>" +
            "</div>" +
            "</div>" +
            "<div class='col-12 review-body-box'>" +
            "<div class='review-content-box'>" +
            "<p class='review-content-txt'>" +
            "Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon" +
            "officia aute, non cupidatat skateboard dolor brunch. Food truck" +
            "quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt" +
            "aliqua put a bird on it squid single-origin coffee nulla assumenda" +
            "shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes" +
            "anderson cred nesciunt sapiente ea proident. Ad vegan excepteur" +
            "butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw" +
            "denim aesthetic synth nesciunt you probably haven\'t heard of them" +
            "accusamus labore sustainable VHS." +
            "</p>" +
            "<p class='review-content-img'>" +
            "<img src='img/product/T20856_" + srcImg + "_main.jpg' alt=''>" +
            "<img src='img/product/T20856_" + srcImg + "_alt1.jpg' alt=''>" +
            "<img src='img/product/T20856_" + srcImg + "_alt2.jpg' alt=''>" +
            "<img src='img/product/T20856_" + srcImg + "_alt3.jpg' alt=''>" +
            "</p>" +
            "</div>" +
            "</div>" +
            "</div>"
        )
    }
</script>
<script type="text/javascript" src="js/product-info-fn.js"></script>