/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/1 0001
 * Time: 17:30
 */
/*@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,500,600,700|");*/
/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');*/

@font-face {
    font-family: 'Berylibi';
    font-family: '-webkit-pictograph';
    font-style: normal;
    /*src:  url('../../fonts/BauhausBold.ttf') format('ttf');*/
    /*src:url('../../fonts/Berylibi.ttf') format('ttf'),url('../../fonts/Berylibi.woff2') format('woff2');*/
    /*unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
}
body {
    margin: 0;
    padding: 0;
    background: #000000;
    /*font-family: 'Work Sans', sans-serif;*/
    /*font-family: 'Berylibi', sans-serif;*/
}
a{
    color: initial;
}

.main-center-bar {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    min-height: 2000px;
    transition: all 0.5s;
}

#footer-box {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}
.dis-i-b {
    display: inline-block;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.wid-85 {
    width: 85%;
}

.wid-15 {
    width: 15%;
}
.v-hidden{
    visibility: hidden;
}
.v-visble {
    visibility: visible;
}

.left-20 {
    left: -20px;
}


.pc-on {
    display: inline-block;
}

.mb-on {
    display: none;
}

.zindex-1 {
    z-index: 1;
}

.zindex-20 {
    z-index: 20;
}

.cd-top.cd-is-visible{
    visibility: visible;
    opacity: 1;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(http://www.17sucai.com/preview/1/2015-03-17/%E5%93%8D%E5%BA%94%E5%BC%8F%E8%BF%94%E5%9B%9E%E9%A1%B6%E9%83%A8%E4%BB%A3%E7%A0%81/images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .wid-15 {
        width: 75%;
    }

    .wid-85 {
        width: 25%;
    }
    .mb-off {
        display: none;
        transition: 1.8s;
    }

    .mb-on {
        display: inline-block;
    }

    .pc-off {
        display: none;
    }

    .pc-on {
        display: inline-block;
    }

    .minw-in {
        min-width: auto !important;
    }

}