<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo2Layout</title>
    <link rel="stylesheet" href="../css/public/bootstrap.css">
    <link rel="stylesheet" href="../css/public/default.css">
</head>
<body>
<div class="outer-container big-box">
    <!--左侧边栏 A-->
    <div class="slider-left-bar">
        <div class="header2-logo">
        </div>
        <div id="sign-in-up">
            <ul class="msg-box" style="background: orangered;">
                <li class="header-logo">
							<span id="logo-img" style="width: 50px;height: 50px;border-radius: 50%;background: #FFF3CD;display: inline-block;">
								<span>
                </li>
                <li class="Sign-in li-hover">Sign in</li>
                <li class="Sign-up li-hover">Sign up</li>
                <li class="Currency li-hover">Currency</li>
                <li class="search-product"><input type="text" name="" id="" value="" placeholder="Search Product" style="width: 100%;border-radius: 12px;outline: none;" /></li>
                <li class="mb-menu" style="margin: 0 auto;height: 190px;background: #0062CC;overflow: hidden;">
                    <ul class="" style="padding: 0;">
                        <li class="">WOMRNS</li>
                        <li class="">MEWS</li>
                        <li class="">KIDS</li>
                        <li class="">BOYS</li>
                        <li class="">GIRLS</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!--左侧边栏 Z-->

    <!--主体栏 A-->
    <div class="main-center-bar">
        <!--header A-->
        <div id="header" class="header">
            <ul style="min-width: 320px;">
                <li class="menu-btn-box">
                    <span id="menu-btn">MENU</span>
                </li>
                <li><img src="img/logo/logo (2).png"></li>
                <li class="mb-off li-hover">left memu1</li>
                <li class="mb-off li-hover">left menu2</li>

            </ul>
            <div class="" id="headInfor" style="width: 100%;min-width: 320px;height: 25px;line-height: 25px;overflow: hidden;margin: 0 auto;background: rgba(255, 255, 255, 0.25);border-top: 1px solid #EBEBEB;">
                <ul class="" style="margin: 0;color: #FFFFFF;text-align: center;">
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $90 OFF Over $179!A</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $80 OFF Over $279!B</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $70 OFF Over $379!C</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $70 OFF Over $379!D Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D</li>
                </ul>
            </div>
        </div>
        <!--header Z-->

        <!--banner slider A-->
        <div class="content">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-1">
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="img/banner/01.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="img/banner/01mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-2">
                        <div class="homepage-left100">
                            <span class="txt">Why<br>All The<br> Baggage?</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="img/banner/02.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="img/banner/02mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-3">
                        <div class="txtCenter">
                            <span class="txt">the DAM<br>tRUth</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="img/banner/03.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="img/banner/03mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-4">
                        <div class="whiteTxt">
                            <span class="txt">Our mussels cultivate<br>a cleaner ocean.</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="img/banner/04.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="img/banner/04mb.jpg"> -->
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination-bullets"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <!--左箭头-->
                <div class="swiper-button-next swiper-button-white"></div>
                <!--右箭头-->
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <!--banner slider Z-->


    </div>
    <!--主体栏 Z-->

    <!--右侧边栏 A-->
    <div class="slider-right-bar"></div>
    <!--右侧边栏 Z-->
</div>
</body>
</html>