<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Demo2Layout</title>
    <link rel="stylesheet" href="../css/public/swiper.css">
    <link rel="stylesheet" href="../css/public/bootstrap.css">
    <!--<link rel="stylesheet" href="../css/public/default.css">-->
    <link rel="stylesheet" href="../css/banner/demo-banner.css">
    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/public/index.css">
</head>
<style type="text/css">

</style>
<body>
<div class="outer-container big-box">
    <!--左侧边栏 A-->
    <div class="slider-left-bar">
        <div class="header2-logo">
        </div>
        <div id="sign-in-up">
            <ul class="msg-box" style="background: orangered;">
                <li class="header-logo">
							<span id="logo-img" style="width: 50px;height: 50px;border-radius: 50%;background: #FFF3CD;display: inline-block;">
								<span>
                </li>
                <li class="Sign-in li-hover">Sign in</li>
                <li class="Sign-up li-hover">Sign up</li>
                <li class="Currency li-hover">Currency</li>
                <li class="search-product"><input type="text" name="" id="" value="" placeholder="Search Product" style="width: 100%;border-radius: 12px;outline: none;" /></li>
                <li class="mb-menu" style="margin: 0 auto;height: 190px;background: #0062CC;overflow: hidden;">
                    <ul class="" style="padding: 0;">
                        <li class="">WOMRNS</li>
                        <li class="">MEWS</li>
                        <li class="">KIDS</li>
                        <li class="">BOYS</li>
                        <li class="">GIRLS</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <!--左侧边栏 Z-->

    <!--主体栏 A-->
    <div class="main-center-bar">
        <!--header A-->
        <div id="header" class="header">
            <ul style="min-width: 320px;">
                <li class="menu-btn-box">
                    <span id="menu-btn">MENU</span>
                </li>
                <li><img src="../img/logo/logo (2).png"></li>
                <li class="mb-off li-hover">left memu1</li>
                <li class="mb-off li-hover">left menu2</li>

            </ul>
            <div class="" id="headInfor" style="width: 100%;min-width: 320px;height: 25px;line-height: 25px;overflow: hidden;margin: 0 auto;background: rgba(255, 255, 255, 0.25);border-top: 1px solid #EBEBEB;">
                <ul class="" style="margin: 0;color: #FFFFFF;text-align: center;">
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $90 OFF Over $179!A</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $80 OFF Over $279!B</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $70 OFF Over $379!C</li>
                    <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                        $70 OFF Over $379!D Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D</li>
                </ul>
            </div>
        </div>
        <!--header Z-->

        <!--banner slider A-->
        <!--注：注释img为移动端banner等效大图，已禁用-->
        <div class="content" id="content">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-1">
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="../img/banner/01.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="../img/banner/01mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-2">
                        <div class="homepage-left100">
                            <span class="txt">Why<br>All The<br> Baggage?</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="../img/banner/02.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="../img/banner/02mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-3">
                        <div class="txtCenter">
                            <span class="txt">the DAM<br>tRUth</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="../img/banner/03.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="../img/banner/03mb.jpg"> -->
                        </div>
                    </div>
                    <div class="swiper-slide slide-4">
                        <div class="whiteTxt">
                            <span class="txt">Our mussels cultivate<br>a cleaner ocean.</span>
                        </div>
                        <div class="full preload middle">
                            <img class="swiper-lazy" src="../img/banner/04.jpg">
                            <!-- <img class="swiper-lazy mb-on" src="../img/banner/04mb.jpg"> -->
                        </div>
                    </div>
                </div>
                <!--圆点分页器-->
                <div class="swiper-pagination swiper-pagination-bullets"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
                <!--左箭头-->
                <div class="swiper-button-next swiper-button-white"></div>
                <!--右箭头-->
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
        </div>
        <!--banner slider Z-->
        <div class="content-container" style="background: yellow;">
            <ul style="padding: 0;">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
        </div>




    </div>
    <!--主体栏 Z-->

    <!--右侧边栏 A-->
    <div class="slider-right-bar" style="display: none"></div>
    <!--右侧边栏 Z-->
</div>
</body>
<script src="../js/jquery-1.12.4.min.js" type="text/javascript"></script>
<script src="../js/swiper.min.js" type="text/javascript"></script>
<!--<script src="../js/swiper.min.js" type="text/javascript"></script>-->
<script src="../js/header2-fn.js" type="text/javascript"></script>
<script type="text/javascript">
var swiper1 = new Swiper('#content .swiper-container',{

    // var swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: 500,
        lazy: {
            // loadPrevNext: true,
        },
        // effect: 'fade',
        // effect : 'coverflow',
        // effect: 'flip',
        // effect: 'cube',
        // effect: 'fade',
        // 			fadeEffect: {
        // 				crossFade: false,
        // 			}

        // effect : 'coverflow',
        //   slidesPerView: 3,
        //   centeredSlides: true,
        //   coverflowEffect: {
        //     rotate: 30,
        //     stretch: 10,
        //     depth: 60,
        //     modifier: 2,
        //     slideShadows : true
        //   },
        // })

        speed: 500,
        longSwipes: false,
			autoplay: {
				disableOnInteraction: false,
			},
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
    //0.625   5/8
    function homeResize() {

        WinHeight = $(window).height();
        WinWidth = $(window).width();
        fullBox = $(".swiper-slide .full");

        if (WinWidth > 768) {
            if (WinWidth / WinHeight > 1.6) {
                fullBox.width("100%").height(WinWidth * 0.625).css({
                    "position": 'absolute',
                    "left": "0px",
                    "top": (WinHeight - fullBox.height()) / 2 + "px"
                });
            } else {
                fullBox.width(WinHeight * 1.6).height("100%").css({
                    "position": 'absolute',
                    "left": "-" + (fullBox.width() - WinWidth) / 2 + "px",
                    "top": "0px"
                });
            }
        } else {
            fullBox.width("100%").height("auto").css({
                "position": 'static',
            });
        }
    }

    homeResize();

    $(window).resize(function() {
        homeResize();
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".menu-btn-box").click(function() {
            // $('.slide-menu-box').toggleClass("dis-bl");
            $('.slider-left-bar').toggleClass("wid-15");
            $('.main-center-bar').toggleClass("wid-85");
            $('.slider-left-bar').toggleClass("v-visble");
            $('.slider-left-bar').toggleClass("fl-left");
            $('#header').toggleClass("fl-right");
            $('#header').toggleClass("wid-85");
            // $('.slide-menu-box').toggleClass("zindex-1");
            // $('.msg-box').toggleClass("mb-on");
            // $('.mb-menu').toggleClass("mb-off");
            // $('.content-box').toggleClass("zindex-20");
            $('.main-center-bar').toggleClass("fl-left");

        });
        SlideDirection(("#headInfor"), 2, 500, 5000);

    });
</script>

</html>