@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(../../../fonts/lhw9mv7zmfipdmxebjbvfn8sxlsihc6n.ttf) format('truetype');
}
