/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/28 0028
 * Time: 16:27
 */

@font-face {
    font-family: sofiapro-bold;
    src: url(//s16.tiktokcdn.com/musical/resource/mtact/static/fonts/sofiapro-bold.otf)
}

@font-face {
    font-family: sofiapro-medium;
    src: url(//s16.tiktokcdn.com/musical/resource/mtact/static/fonts/sofiapro-medium.otf)
}

@font-face {
    font-family: sofiapro-regular;
    src: url(//s16.tiktokcdn.com/musical/resource/mtact/static/fonts/sofiapro-regular.otf)
}

@font-face {
    font-family: sofiapro-regular-mini;
    src: url(//s16.tiktokcdn.com/musical/resource/mtact/static/fonts/sofia-regular-mini.otf)
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    min-width: 1200px;
    background-color: #fff;
}

/*.container{*/
/*width: 100%;*/
/*max-width: 100%;*/
/*}*/

.out-wrapper {
    width: 100%;
    height: 100%;
}

.auto-width {
    width: 100%;
    max-width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -600px;
    z-index: 1;
}

.header .logo-warpper {
    display: inline-block;
    margin: 10px 0 0 20px;
    font-size: 100%;
}

.logo-warpper .logo {
    background: url(../img/tiktok_logo_0eeef60.png) no-repeat;
    background-size: 3rem 3.3rem;
    width: 4rem;
    height: 3.5rem;
    margin-left: 3.5rem;
    position: absolute;
    top: 1.3rem;
}

.header .nav-warpper {
    font-family: sofiapro-regular;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -86.5px;
}

.header .nav-warpper a {
    display: inline;
    font-size: 16px;
    color: #FFF;
    opacity: .8;
    margin: 0 12px;
    font-weight: 400;
}

.header .nav-warpper a:active,
.header .nav-warpper a:hover {
    border-bottom: 2px solid #00f2ea;
    padding-bottom: 5px;
    text-decoration: none;
}

.right-panel {
    width: 100%;
    background: url(../img/tiktok_bg_2.jpg) no-repeat 100%;
    background-size: cover;
    background-position: center;
    height: 82%;
    min-height: 550px;
}

.right-panel .content-box {
    width: 580px;
    text-align: center;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.right-panel .content-box .logo {
    height: 70px;
    margin: 20px 0;
}

.right-panel .content-header {
    /*overflow: hidden;*/
    width: auto;
    text-align: center;
}

.right-panel .content-header-desc {
    margin-right: 20px;
    display: inline-block;
}

.right-panel .content-header-slogen {
    text-align: left;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 0;
    color: #FEFEFE;
    letter-spacing: 2.59px;
}

.right-panel .content-footer {
    margin-top: 20px;
}


.right-panel .download-btn-group{
    margin-top: 65px;
}

.right-panel .content-footer .download-btn-group a {
    height: 40px;
    width: 140px;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    text-decoration: none;
}

.right-panel .content-footer .download-btn-group a img {
    width: 125px;
    position: relative;
    bottom: -5px;
    left: -4px;
}

footer {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

footer > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-family: sofiapro-regular;
}

footer .infomation-group {
    width: 65%;
    padding: 5px 0 0 30px;
    font-size: 12px;
    background: #f63449;
}

footer .follow-language {
    width: 35%;
    padding-top: 30px;
    font-weight: 500;
    font-size: 14px;
    background: #00e5dd;
    min-height: 180px;
}

footer .infomation-group ul {
    overflow: hidden;
    list-style: none;
    margin: 20px 30px;
    border-bottom: 1px solid #f98691;
}

footer .infomation-group ul li {
    float: left;
    width: 25%;
    margin: 10px 0;
}

footer .infomation-group ul li h2 {
    font-size: 14px;
    margin: 0 auto 12px;
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: .5px;
}

footer .infomation-group ul li a {
    display: block;
    margin-bottom: 12px;
    background: transparent;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    -webkit-font-smoothing: antialiased;
}

footer .infomation-group .info {
    padding: 0 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

footer .infomation-group .info .language .language-wrap {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 0 12px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

footer .infomation-group .info .language .language-wrap .language-list {
    position: absolute;
    width: 60px;
    left: -10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px #afa4a4;
    overflow: hidden;
    height: 0;
    bottom: 40px;
}

footer .infomation-group .info .language .language-wrap .language-list .language-li {
    color: #4a4a4a;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    display: block;
}

footer .follow-language .follow-us {
    padding: 0 40px;
    font-size: "sofiapro-regular";
}

footer .follow-language .follow-us span {
    letter-spacing: 1.2px;
}

footer .follow-language .follow-us ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

footer .follow-language .follow-us ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

footer .follow-language .follow-us ul a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

footer .follow-language .follow-us ul .follow-img-1 {
    background: url(../img/follow_ig.png) no-repeat center;
    background-size: 35px 35px;
}

footer .follow-language .follow-us ul .follow-img-2 {
    background: url(../img/follow_fb.png) no-repeat center;
    background-size: 14px 30px;
}

footer .follow-language .follow-us ul .follow-img-3 {
    background: url(../img/follow_tt.png) no-repeat center;
    background-size: 33px 26px;
}

footer .follow-language .follow-us ul .follow-img-4 {
    background: url(../img/follow_ytb.png) no-repeat center;
    background-size: 40px 27px;
}

.pc-dis-no {
    display: none !important;
}
.pc-vis-hid{
    visibility: hidden;
}


@media (min-width: 768px) {
    .pc-dis-no {
        display: none;
    }


}

@media (max-width: 768px) {

    .pc-dis-no {
        display: inline-block !important;
    }

    /*.pc-vis-hid{*/
        /*visibility: visible;*/
    /*}*/

    .mb-dis-no {
        display: none;
    }

    html, body {
        max-width: 100%;
        min-width: auto;
        width: 100%;
        font-size: 12px;

    }

    body {
        background: rgb(0, 229, 221);
        font-family: sofiapro-regular-mini, -apple-system, sans-serif;
        color: #fff;
    }

    .out-wrapper {
        position: relative;
    }

    .header {
        width: 100%;
        height: 80px;
        display: block;
        line-height: 100px;
        position: absolute;
        top: 0;
        left: 0%;
        margin-left: 0px;
        z-index: 1;
    }

    .header .hamburger {
        width: 3.2rem;
        position: fixed;
        right: 2.5rem;
        top: 1.5rem;
    }

    .header .hamburger .line {
        width: 2.3rem;
        height: .25rem;
        background-color: #ecf0f1;
        display: block;
        margin: .5rem auto;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }

    #hamburger.is-active .line:nth-child(1) {
        -webkit-transform: translateY(0.5rem) rotate(45deg);
        transform: translateY(0.5rem) rotate(45deg);
    }

    #hamburger.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-1rem) rotate(-45deg);
        transform: translateY(-1rem) rotate(-45deg);
    }

    .logo-warpper .logo {
        margin-left: 1.5rem;
    }

    .navbar-btn {
        float: right;
        z-index: 99999 !important;
    }

    .header .nav-warpper {
        /*display: none;*/
    }

    #downlist {
        position: fixed;
        width: 100%;
        overflow: hidden;
        background: #000;
        height: 0;
        padding-top: 6rem;
        top: 0rem;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        height: 100%;
        margin: 0;
        display: none;
    }

    .right-panel .download-btn-group{
        margin-top: 5px;
    }
    #download {
        text-decoration: 2px solid;
    }

    #downlist .menu-line {
        width: 7.5rem;
        height: .25rem;
        background: #fff;
        display: block;
        margin: 1rem 0 0 3rem;
    }

    #downlist .mb-logo {
        display: inline-block;
        width: 100%;
        margin-top: 5rem;
    }

    #downlist .mb-logo img{
        height: 4rem;
    }

    .black-bg {
        background: #000000;
    }

    z9999 {

    }

    .header .nav-warpper a {
        display: block;
        text-align: left;
        font-size: 3.5rem;
        padding-right: 2.5rem;
        line-height: 4.5rem;
        margin: 2rem 0 0 3rem;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    .right-panel {
        background: url(../img/en_bg_55dcf13.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 52rem;
        font-family: sofiapro-regular-mini;
        position: relative;
    }

    .right-panel .content-box {
        text-align: center;
        position: absolute;
        top: 10.5rem;
        width: 100%;
    }

    .content-box .logo {
        display: none;
    }

    .right-panel .content-header-desc {
        margin-right: 0px;
        padding: 1rem;
    }

    .right-panel .content-header-slogen {
        font-size: 2.5rem;
        text-align: center;
        color: #fff;
        padding: 0rem 3rem;
        font-weight: 500;
    }

    .footer > div {
        display: block;
        font-family: sofiapro-regular;
    }

    footer .follow-language .follow-us ul,
    footer .infomation-group ul {
        display: block;
        padding-left: 0 !important;
    }

    .infomation-group,
    .follow-language {
        width: 100% !important;
        display: block;
    }

    .infomation-group {
        padding: initial !important;
        background: #f63449;
        color: #fff;
        padding: 3rem 0 3rem 3rem;
        overflow-x: hidden;
    }

    .info-group1,
    .info-group2,
    .info-group3,
    .info-group4 {
        width: 49% !important;
        color: #fff;
        font-size: 1.2rem;
        line-height: 2.5rem;
        white-space: nowrap;
        font-family: sofiapro-regular-mini;
    }

    .info-group1 h2,
    .info-group2 h2,
    .info-group3 h2,
    .info-group4 h2 {
        font-size: 1.4rem;
    }

    .info-group1 a,
    .info-group2 a,
    .info-group3 a,
    .info-group4 a {
        margin-bottom: 0 !important;
    }

    footer .follow-language .follow-us ul {
        text-align: center;
    }

    footer .follow-language .follow-us > span {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        font-size: 1.5rem;
    }

    footer .follow-language .follow-us ul a {
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin: 1rem;
    }

    footer .follow-language .follow-us ul li {
        width: 45%;
        display: inline-block;
    }

    footer .follow-language .follow-us ul li .follow-img-1 {
        background: url(../img/social_all_8152d2f.png) no-repeat -4.5rem 0;
        background-size: 10rem;
    }

    footer .follow-language .follow-us ul li .follow-img-2 {
        background: url(../img/social_all_8152d2f.png) no-repeat 1.5rem -5.5rem;
        background-size: 10rem;
    }

    footer .follow-language .follow-us ul li .follow-img-3 {
        background: url(../img/social_all_8152d2f.png) no-repeat .5rem 0;
        background-size: 10rem;
    }

    footer .follow-language .follow-us ul li .follow-img-4 {
        width: 6.5rem;
        background: url(../img/social_all_8152d2f.png) no-repeat -3.5rem -5.5rem;
        background-size: 10rem;
        position: relative;
        left: .5rem;
    }

    footer .follow-language .follow-us ul li p {
        font-size: 1.5rem;
    }

}
@media only screen and (width: 768px){
    .right-panel .content-footer{
        margin-top: 5rem;
    }
}
@media only screen and (width: 1024px) {
    .right-panel {
        width: 100%;
        background: url(../img/tiktok_bg_2.jpg) no-repeat 100%;
        background-size: cover;
        background-position: center;
        height: 100%;
        min-height: 550px;
    }
    .right-panel .content-footer{
        margin-top: 20rem;
    }
}
.la-dis{
    height: auto!important;
    display: block;
}

.header .nav-warpper .dis-no {
    display: none
}

