/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/5 0005
 * Time: 16:05
 */

footer{
    height: 150px;
    background: #333333;
    width: 100%;
    color: #ffffff;
    text-align: center;
}