/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/1 0001
 * Time: 18:24
 */

.header {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: rgba(255, 255, 255, .7);
    overflow: hidden;
    transition: all 0.5s;
}

#header ul {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    /* transition: all 0.5s; */
}
#header ul li {
    padding: 0 20px;
    border-right: 1px solid #fff;
    float: left;
    height: 60px;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
}

.menu-btn-box {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    opacity: .55;
    transition: all 0.5s;
}