<!--左侧边栏 A-->
<link rel="stylesheet" href="css/side-bar/01.css">
    <div class="header2-logo">
    </div>
    <div id="sign-in-up">
        <ul class="msg-box">
            <li class="header-logo">
							<span id="logo-img"><span>
            </li>
            <li class="Sign-in li-hover">Sign in</li>
            <li class="Sign-up li-hover">Sign up</li>
            <li class="Currency li-hover">Currency</li>
            <li class="search-product">
                <input type="text" name="" id="" value="" placeholder="Search Product" />
            </li>
            <li class="mb-menu-box">
                <ul class="">
                    <li class="">
                        <a href="###1" class="mb-menu-li li-hover">
                            WOMRNS
                            <span class="fa fa-plus"></span>
                        </a>
                        <ul class="mb-submenu-box dis-no">
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="###2" class="mb-menu-li li-hover">
                            MEWS
                            <span class="fa fa-plus"></span>
                        </a>
                        <ul class="mb-submenu-box dis-no">
                            <li class="li-hover">News1</li>
                            <li class="li-hover">News2</li>
                            <li class="li-hover">News3</li>
                        </ul>
                    </li>
                    <li>
                        <a href="###2" class="mb-menu-li li-hover">KIDS
                            <span class="fa fa-plus"></span>
                        </a>
                        <ul class="mb-submenu-box dis-no">
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="###2" class="mb-menu-li li-hover">BOYS
                            <span class="fa fa-plus"></span>
                        </a>
                        <ul class="mb-submenu-box dis-no">
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                            <li class="li-hover">--<a href="###">News1</a></li>
                        </ul>
                    </li>
                    <li><a href="###2" class="mb-menu-li li-hover">GIRLS</a></li>
                </ul>
            </li>
        </ul>

        <script type="text/javascript">
        $(".mb-menu-li").click(function () {
            $(this).siblings(".mb-submenu-box").slideToggle();
            $(this).children(".fa").toggleClass("fa-minus");
        })
        </script>

    </div>
<!--左侧边栏 Z-->
<!--over-->