<div class="content" id="content">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <div class="full preload middle">
                    <!--<img class="swiper-lazy mb-off" src="img/banner/01.jpg">-->
                    <img class="swiper-lazy mb-off" src="img/banner/slide2.jpg">
                     <img class="swiper-lazy mb-on" src="img/banner/mb01.jpg">
                </div>
            </div>
            <div class="swiper-slide slide-2">
                <div class="homepage-left100">
                    <span class="txt">Why<br>All The<br> Baggage?</span>
                </div>
                <div class="full preload middle">
                    <!--<img class="swiper-lazy mb-off" src="img/banner/02.jpg">-->
                    <img class="swiper-lazy mb-off" src="img/banner/slide2.jpg">
                     <img class="swiper-lazy mb-on" src="img/banner/mb02.jpg">
                </div>
            </div>
            <div class="swiper-slide slide-3">
                <div class="txtCenter">
                    <span class="txt">the DAM<br>tRUth</span>
                </div>
                <div class="full preload middle">
                    <!--<img class="swiper-lazy mb-off" src="img/banner/03.jpg">-->
                    <img class="swiper-lazy mb-off" src="img/banner/slide2.jpg">
                     <img class="swiper-lazy mb-on" src="img/banner/mb03.jpg">
                </div>
            </div>
            <div class="swiper-slide slide-4">
                <div class="whiteTxt">
                    <span class="txt">Our mussels cultivate<br>a cleaner ocean.</span>
                </div>
                <div class="full preload middle">
                    <!--<img class="swiper-lazy mb-off" src="img/banner/04.jpg">-->
                    <img class="swiper-lazy mb-off" src="img/banner/slide2.jpg">
                     <img class="swiper-lazy mb-on" src="img/banner/mb04.jpg">
                </div>
            </div>
        </div>
        <!--圆点分页器-->
        <div class="swiper-pagination swiper-pagination-bullets"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <!--&lt;!&ndash;左箭头&ndash;&gt;-->
        <div class="swiper-button-next swiper-button-white"></div>
        <!--&lt;!&ndash;右箭头&ndash;&gt;-->
        <!--<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>-->
    </div>
</div>
<script type="text/javascript" src="js/banner-fn.js"></script>