/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/8 0008
 * Time: 10:58
 */
#breadcrumb-box{
    margin-top: 90px;
    /*background-image: url("../../img/banner/1.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.breadcrumb-container{
    padding: 15px 0;
    margin: 0 auto;
}
.breadcrumb-item a {
    color: rgba(0,0,0,0.45);
}