<div class="kiosk-product-details ptb-70">
    <div class="container">
        <div class="row">
            <!-- Main Thumbnail Image Start -->
            <div class="col-lg-5">
                <!-- Thumbnail Large Image start -->
                <div class="tab-content">
                    <div id="thumb1" class="tab-pane active">
                        <a data-fancybox="images" href="static/img/product/01//1.jpg"><img src="static/img/product/01/1.jpg" alt="product-view"></a>
                    </div>
                    <div id="thumb2" class="tab-pane">
                        <a data-fancybox="images" href="static/img/product/01//3.jpg"><img src="static/img/product/01/3.jpg" alt="product-view"></a>
                    </div>
                    <div id="thumb3" class="tab-pane">
                        <a data-fancybox="images" href="static/img/product/01//9.jpg"><img src="static/img/product/01/9.jpg" alt="product-view"></a>
                    </div>
                    <div id="thumb4" class="tab-pane">
                        <a data-fancybox="images" href="static/img/product/01//14.jpg"><img src="static/img/product/01/14.jpg" alt="product-view"></a>
                    </div>
                </div>
                <!-- Thumbnail Large Image End -->

                <!-- Thumbnail Image End -->
                <div class="kiosk-product-thumb">
                    <div class="thumb-menu nav">
                        <a class="active" data-toggle="tab" href="#thumb1"> <img src="static/img/product/01/1.jpg" alt="kiosk-product-thumb"></a>
                        <a data-toggle="tab" href="#thumb2"> <img src="static/img/product/01/3.jpg" alt="kiosk-product-thumb"></a>
                        <a data-toggle="tab" href="#thumb3"> <img src="static/img/product/01/9.jpg" alt="kiosk-product-thumb"></a>
                        <a data-toggle="tab" href="#thumb4"> <img src="static/img/product/01/14.jpg" alt="kiosk-product-thumb"></a>
                    </div>
                </div>
                <!-- Thumbnail image end -->
            </div>
            <!-- Main Thumbnail Image End -->
            <!-- Thumbnail Description Start -->
            <div class="col-lg-7">
                <div class="kiosk-product-description fix">
                    <h3 class="product-header head-h3">Standard Shoes</h3>
                    <div class="pro-price mb-10">
                        <p class="product-price"><span class="price">$30.00</span></p>
                    </div>
                    <p class="pb-20 border-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum animi nobis ex labore fuga esse vero dignissimos nemo facilis possimus suscipit quia, iusto quisquam dolores accusamus blanditiis eius ipsa itaque.</p>
                    <div class="pro-ref mtb-15">
                        <p><span class="in-stock">Availability:</span><span class="sku">In Stock</span></p>
                    </div>
                    <div class="pro-ref mb-15">
                        <p><span class="in-stock">Categories:</span><span class="sku">Cloth, Shoes, Perfume</span></p>
                    </div>
                    <div class="pro-ref mb-15">
                        <p><span class="in-stock">Model:</span><span class="sku">2mr30</span></p>
                    </div>
                    <div class="pro-ref mb-15">
                        <p><span class="in-stock">Tags:</span><span class="sku">Cloth, Shoes, Perfume</span></p>
                    </div>
                    <div class="box-quantity">
                        <form action="#">
                            <label for="">Quantity</label>
                            <input class="number" id="numeric" type="number" min="1" value="1">
                        </form>
                    </div>
                    <div class="product-link">
                        <ul class="list-inline">
                            <li><a href="cart.html">add to cart</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Thumbnail Description End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>