/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/3 0003
 * Time: 11:47
 */
.side-left-bar {
    width: 0%;
    float: left;
    visibility: hidden;
    position: relative;
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    /* opacity: .55; */
    height: auto;
    /*padding-top: 15px;*/
    min-height: 2000px;
    transition: all 0.5s;
}

#sign-in-up {
    position: relative;
    min-height: 2000px;
    /*background-color: orangered;*/
}

#sign-in-up .msg-box {
    width: 100%;
    min-width: 150px;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
    /*border-bottom: 2px dotted #000000;*/
}

#sign-in-up ul li {
    list-style: none;
    width: 100%;
    margin: 5px auto;
    margin-top: 0;
    padding: 5px 0;
    /*text-align: center;*/
}
#sign-in-up ul li>a{
    width: 100%;
    padding:0;
    display: inline-block;
    text-decoration: none;
}
#sign-in-up .Sign-in,
#sign-in-up .Sign-up,
#sign-in-up .Currency{
     padding-left: 30px;
 }
#sign-in-up .Currency>ul{
    background: #000000;
}
#sign-in-up .Currency a{
    padding-left: 0px;
}
#sign-in-up .Currency a .sidebarL-icon{
    margin-top: 5px;
    padding-left: 0px;
    float: left;
}
.header-logo #logo-img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    border-radius: 50%;
    background: #FFF3CD;
    display: inline-block;
}

.Currency {
    margin-bottom: 15px;
}

.li-hover {
    cursor: pointer;
    transition: all .5s;
}

.li-hover:hover {
    background: #999;
    color: #fff;
}
#sign-in-up .msg-box .header-logo {
    /*margin-top:15px;*/
}

#sign-in-up .search-product {
    padding: 0 15%;
    /* margin-bottom: 15px; */
    padding-bottom: 25px;
    border-bottom: 3px double rgba(225,225,225,0.5);
}

#sign-in-up .msg-box .search-product input {
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 0 10px;
}

#sign-in-up .msg-box .sidebarL-menu-box {
    margin: 0 auto;
    height: auto;
    min-height: 295px;
    max-height: 360px;
    /*background: #0062CC;*/
    overflow-x: hidden;
    overflow-y: scroll;
}
#sign-in-up .msg-box .sidebarL-menu-box::-webkit-scrollbar{
    display: none;
}
#sign-in-up ul li .sidebarL-menu-li {
    padding: 5px 0px 5px 15px;
    text-align: left;
    overflow: hidden;
}
.sidebarL-menu-li span{
    margin-top: 5px;
    margin-right: 30px;
    float: right;
}
#sign-in-up .msg-box .sidebarL-menu-box ul {
    padding: 0 0 0 15px;
}
#sign-in-up .msg-box .sidebarL-menu-box .sidebarL-submenu-box{
     padding:0 0 0 15px;
 }
#sign-in-up .msg-box .sidebarL-menu-box .sidebarL-submenu-box li{
    text-align: initial;
    padding: 0;
}
#sign-in-up .msg-box .sidebarL-menu-box .sidebarL-submenu-box li>a{
    width: 60%;
}
.sidebarL-icon {
    margin-right: 15px;
}
.copyright {
    position: fixed;
    bottom: 3%;
    text-align: center;
    width: 15%;
}


/*界面适配代码*/
.wid-15 {
    width: 15%;
}

.wid-85 {
    width: 85%;
}

.v-hidden {
    visibility: hidden;
}

.v-visble {
    visibility: visible;
}
.dis-no{
    display: none;
}

@media screen and (max-width: 768px) {
    .wid-15 {
        width: 75%;
    }

    .wid-85 {
        width: 25%;
    }

    .sidebarL-off {
        display: none;
        transition: 1.8s;
    }

    .sidebarL-on {
        display: inline-block;
    }
    .copyright{
        width: 75%;
    }
    .pc-off {
        display: none;
    }

    .pc-on {
        display: inline-block;
    }

    .minw-in {
        min-width: auto !important;
    }

}