<header class="header header-container container width-auto">
    <div class="row header-tips-box">
        <div class="headInfor" id="headInfor">
            <ul class="tips-list-box">
                <li>Extra $90 OFF Over $179!A</li>
                <li>Extra $80 OFF Over $279!B</li>
                <li>Extra $70 OFF Over $379!C</li>
                <li>Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D</li>
            </ul>
        </div>
    </div>
    <div class="row header-main-box">
        <div class="col-sm-4 col-4 header-left pc-dis-no">
            <span class="fa fa-bars" id="bar-btn"></span>
            <span class="fa fa-search" id="search-btn"></span>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-4 header-center">
            <a href="index.html"><img src="img/logo/logo (2).png" alt="Your Logo"></a>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-8 pc-nav-box mb-dis-no">
            <ul class="nav-list-box">
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu1</a>
                    <ul class="nav-sublist-box">
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                    </ul>
                </li>
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu2</a>
                    <ul class="nav-sublist-box">
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                        <li class="nav-sublist"><a href="###22">Womens</a></li>
                    </ul>
                </li>

                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu3</a>
                </li>
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu3</a>
                </li>
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu3</a>
                </li>
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu3</a>
                </li>
                <li class="nav-list">
                    <a href="category.html" class="nav-toplist">Menu3</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4 header-right">
            <select class="currency-select mb-dis-no">
                <option value="usd" selected>usd</option>
                <option value="gbp" >gbp</option>
                <option value="cad" >cad</option>
                <option value="gbp" >gbp</option>
                <option value="cad" >cad</option>
                <option value="gbp" >gbp</option>
                <option value="cad" >cad</option>
                <option value="gbp" >gbp</option>
                <option value="cad" >cad</option>
            </select>
            <span class="fa fa-search mb-dis-no" id="pc-search-btn"></span>
            <span class="fa fa-user-o" id="login-btn"></span>
            <span class="fa fa-shopping-cart" id="cart-btn">
                <i class="cart-total">12</i>
            </span>
        </div>

    </div>
    <div class="row header-search-box slide-box">
        <div class="col-md-12">
            <input type="text" placeholder="Search Your product"/>
            <span class="search-product-btn">
                <a href="###0"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>

    <div class="row header-login-box slide-box">
        <div class="slide-subbox col-md-12 col-12">
            <li><a href="###Login">Login in</a></li>
            <li>|</li>
            <li><a href="###Login">Register</a></li>
        </div>
    </div>

</header>


<aside class="aside">
    <ul class="menu-wrap">
        <li class="currency-select-box">
            <span class="">Currency:</span>
            <select name="currency-select" id="currency-select" class="currency-select">
                <option value="USD" selected>USD</option>
                <option value="GBP">GBP</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
            </select>
        </li>
        <li class="aside-title">MENU</li>
        <li>
            <ul class="menu-list-box">
                <li>
                    <a class="menu-list" href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li><a href="category.html">A</a></li>
                        <li><a href="category.html">B</a></li>
                        <li><a href="category.html">C</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-list" href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li><a href="category.html">A</a></li>
                        <li><a href="category.html">B</a></li>
                        <li><a href="category.html">C</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-list" href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li><a href="category.html">A</a></li>
                        <li><a href="category.html">B</a></li>
                        <li><a href="category.html">C</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-list" href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li><a href="category.html">A</a></li>
                        <li><a href="category.html">B</a></li>
                        <li><a href="category.html">C</a></li>
                    </ul>
                </li>
                <li>
                    <a class="menu-list" href="###">WOMENS</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>

<div class="layer-mask"></div>

<div class="mb-25"></div>

<script type="text/javascript">
    $('#bar-btn').click(function () {
        $('.layer-mask').addClass('dis-bk');
        $('.aside').addClass('trl100');
        document.documentElement.style.overflow = "hidden";
    })
    $('.layer-mask').click(function () {
        $(this).removeClass('dis-bk');
        $('.aside').removeClass('trl100');
        document.documentElement.style.overflow = "scroll";
    })
    $('.fa-search').click(function () {
        $('.header-login-box').css('display', 'none');
        $('.header-search-box').slideToggle();
    })

    $('#login-btn').click(function () {
        $('.header-search-box').css('display', 'none');
        $('.header-login-box').slideToggle();
    })
    $('.menu-list-box li').click(function () {
        $(this).children('.menu-list').children('.fa').toggleClass('fa-minus');
        $(this).children('.menu-list-sbbox').slideToggle();
    })
    $(document).ready(function () {
        SlideDirection(("#headInfor"), 4, 500, 5000);
    })


</script>

<!--over-->