<div class="kiosk-top-product ptb-70">
    <div class="container">
        <!-- Best Product Activation Start -->
        <div class="kiosk-top-active owl-carousel home1-product">
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/7.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/8.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/5.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/6.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/4.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/3.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/1.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/2.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/11.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/12.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="single-product">
                <!-- Product Image Start -->
                <div class="kiosk-product-img">
                    <a href="product.html">
                        <img class="first-img rounded-circle" src="static/picture/13.jpg" alt="single-product">
                        <img class="second-img rounded-circle" src="static/picture/14.jpg" alt="single-product">
                    </a>
                </div>
                <!-- Product Image End -->
                <!-- Product Content Start -->
                <div class="kiosk-product-content">
                    <div class="kiosk-product-action">
                        <div class="kiosk-action-content">
                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                        </div>
                    </div>
                </div>
                <!-- Product Content End -->
            </div>
            <!-- Single Product End -->
        </div>
        <!-- Best Product Activation End -->
    </div>
    <!-- Container End -->
</div>