<div class="blog-area gray-bg ptb-70 padding-small">
    <div class="container">
        <div class="row">
            <div class="section-title col-lg-12 mb-50">
                <h2>Our Blogs <i class="fa fa-shopping-cart"></i></h2>
            </div>
        </div>
        <!-- Popular Categorie Activation Start -->
        <div class="kiosk-blog owl-carousel owl-loaded owl-drag">
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <!-- Single Blog Start -->

            <!-- Single Blog End -->
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-400px, 0px, 0px); transition: all 0s ease 0s; width: 2400px;"><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/1.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">A Grand Opening Program</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Kavin </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/8.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">Women Fashion 2018</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Jone doe </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/3.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">Celebrating 27th anniversary</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Riya </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/1.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">Women Fashion 2018</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Sonjib </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/2.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">A Grand Opening Ceremony</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Sadika </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="single-blog">
                <div class="blog-img">
                    <a href="blog-details.html"><img src="static/picture/3.jpg" alt="blog-image"></a>
                </div>
                <div class="blog-content">
                    <h4 class="blog-title"><a href="blog-details.html">Women Fashion 2018</a></h4>
                    <div class="blog-meta">
                        <ul>
                            <li><span>By</span> <a href="#">Sohel </a></li>
                            <li><a href="#">12 Feb, 2018</a></li>
                            <li><a href="#">comments(2)</a></li>
                        </ul>
                    </div>
                    <p>Lorem ipsum dolor sit amet adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magn a aliqua. Ut enim ad minim veniam.</p>
                    <div class="readmore">
                        <a href="blog-details.html">Read More</a>
                    </div>
                </div>
            </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots disabled"></div></div>
        <!-- Popular Categorie Activation End -->
    </div>
    <!-- Container End -->
</div>