<div class="main-shop-page ptb-70">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar category-sidebar">
                        <div class="group-title">
                            <h2>categories</h2>
                        </div>
                        <ul>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Bag</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Exclusive</a></li>
                            <li><a href="#">Uncategorized</a></li>
                            <li><a href="#">Man</a></li>
                            <li><a href="#">Women</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Filter By Price</h2>
                        </div>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" ></div>
                            </div>
                            <input id="amount" class="amount" readonly="" type="text">
                        </form>
                    </div>
                    <div class="recent-post same-sidebar border-default single-sidebar best-product-sidebar">
                        <div class="group-title">
                            <h2>Best Product</h2>
                        </div>
                        <ul>
                            <!-- Singel Post Thumb Start -->
                            <li class="post-thumb fix">
                                <div class="left-post-thumb f-left mr-20 mb-20">
                                    <a href="#"><img class="img" src="static/picture/1.jpg" alt="latest-post-imgae"></a>
                                </div>
                                <div class="right-post-thumb fix">
                                    <h4><a href="#">Women fashion</a></h4>
                                    <span>Jan 14, 2018</span>
                                </div>
                            </li>
                            <!-- Singel Post Thumb End -->
                            <!-- Singel Post Thumb Start -->
                            <li class="post-thumb fix">
                                <div class="left-post-thumb f-left mr-20 mb-20">
                                    <a href="#"><img class="img" src="static/picture/2.jpg" alt="latest-post-imgae"></a>
                                </div>
                                <div class="right-post-thumb fix">
                                    <h4><a href="#">Festive time</a></h4>
                                    <span>May 09, 2018</span>
                                </div>
                            </li>
                            <!-- Singel Post Thumb End -->
                            <!-- Singel Post Thumb Start -->
                            <li class="post-thumb fix">
                                <div class="left-post-thumb f-left mr-20 mb-20">
                                    <a href="#"><img class="img" src="static/picture/3.jpg" alt="latest-post-imgae"></a>
                                </div>
                                <div class="right-post-thumb fix">
                                    <div class="right-post-thumb">
                                        <h4><a href="#">Women fashion</a></h4>
                                        <span>Jan 14, 2018</span>
                                    </div>
                                </div>
                            </li>
                            <!-- Singel Post Thumb End -->
                            <!-- Singel Post Thumb Start -->
                            <li class="post-thumb fix">
                                <div class="left-post-thumb f-left mr-20">
                                    <a href="#"><img class="img" src="static/picture/4.jpg" alt="latest-post-imgae"></a>
                                </div>
                                <div class="right-post-thumb fix">
                                    <h4><a href="#">Women fashion</a></h4>
                                    <span>Jan 14, 2018</span>
                                </div>
                            </li>
                            <!-- Singel Post Thumb End -->
                        </ul>
                    </div>
                    <div class="categorie recent-post same-sidebar border-default shop-tag single-sidebar">
                        <div class="group-title">
                            <h2>Tags</h2>
                        </div>
                        <ul class="tag-list">
                            <li><a href="#">Man</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">Children</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top fix mb-10">
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-left">
                        <div class="toolbar-sorter">
                            <label>sort by</label>
                            <select class="sorter" name="sorter">
                                <option value="Position" selected="selected">position</option>
                                <option value="Product Name">Heighest price</option>
                                <option value="Price">Lowest Price</option>
                            </select>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                    <div class="grid-list-view f-right">
                        <ul class="list-inline nav">
                            <li><a data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a  data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie product-area">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane active">
                            <div class="row">
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/3.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/4.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$40.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/1.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/2.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$30.00</span><del class="prev-price">$32.00</del></p>
                                            <h4><a href="product.html">Handbag for women</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/5.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/6.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$130.00</span><del class="prev-price">$132.00</del></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/7.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/8.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$232.00</span></p>
                                            <h4><a href="product.html">Handbag for women</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/9.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/10.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$456.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/11.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/12.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$230.00</span><del class="prev-price">$234.00</del></p>
                                            <h4><a href="product.html">Handbag for women</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/13.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/14.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$67.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/15.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/16.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$68.00</span></p>
                                            <h4><a href="product.html">Handbag for women</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/1.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/2.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$30.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/3.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/4.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$230.00</span><del class="prev-price">$332.00</del></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/5.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/6.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$30.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                                <!-- Single Product Start -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="kiosk-product-img">
                                            <a href="product.html">
                                                <img class="first-img" src="static/picture/7.jpg" alt="single-product">
                                                <img class="second-img" src="static/picture/8.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="kiosk-product-content">
                                            <p><span class="price">$380.00</span></p>
                                            <h4><a href="product.html">Blue Shirt</a></h4>
                                            <div class="kiosk-product-action">
                                                <div class="kiosk-action-content">
                                                    <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                                    <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                    </div>
                                </div>
                                <!-- Single Product End -->
                            </div>
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane">
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/1.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/2.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$30.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/3.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/4.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$330.00</span><del class="prev-price">$362.00</del></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/5.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/6.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$80.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/7.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/8.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$90.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/9.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/10.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$200.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/11.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/12.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$500.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                            <!-- Single Product Start -->
                            <!-- Single Product Start -->
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="kiosk-product-img">
                                    <a href="product.html">
                                        <img class="first-img" src="static/picture/13.jpg" alt="single-product">
                                        <img class="second-img" src="static/picture/14.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="kiosk-product-content">
                                    <h4><a href="product.html">Blue Shirt</a></h4>
                                    <p><span class="price">$390.00</span></p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati velit, similique voluptas doloribus assumenda quis libero animi cumque dignissimos quisquam, quaerat ea laboriosam incidunt ullam.</p>
                                    <div class="kiosk-product-action">
                                        <div class="kiosk-action-content">
                                            <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                            <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                            </div>
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                <div class="kiosk-pagination-box fix">
                    <ul class="blog-pagination ">
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                    <div class="toolbar-sorter-footer">
                        <label>show</label>
                        <select class="sorter" name="sorter">
                            <option value="Position" selected="selected">12</option>
                            <option value="Product Name">15</option>
                            <option value="Price">30</option>
                        </select>
                        <span>per page</span>
                    </div>
                </div>
                <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>