<div class="parallax-area pb-60">
    <div class="container-fluid">
        <div class="row">
            <!-- Single Banner Start -->
            <div class="col-md-6">
                <div class="parallax-left parallax-bg" data-stellar-background-ratio="0.6">
                </div>
            </div>
            <!-- Single Banner End -->
            <!-- Single Banner Start -->
            <div class="col-md-6">
                <div class="parallax-right">
                    <div class="parallax-content">
                        <h3>Unlimited Offer</h3>
                        <p>Lorem ipsum dolor sit, amet conse ctetur adip isicing elit. Et deleniti iure voluptates eaque cumque suscipit aliquid dolorem expedita iste voluptatum conse ctetur volupt atum</p>
                        <a class="button slider-btn" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- Single Banner End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>