/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/4 0004
 * Time: 19:09
 */
.product-list-box {
    background: #F1F1F1;
    border-radius: 0.25rem;
    padding: 15px;
    margin-bottom: 15px;
}

.select-box .input-group{
    width: auto;
    /*margin: 0 auto;*/
}
.select-box .input-group:nth-child(2){
    float: right;
}
.product-list {
    min-height: 400px;
    /*background: grey;*/
    list-style: none;
    text-align: center;
}

ul {
    padding-left: 0;
}

.product-list img {
    width: 100%;
}

.product-list p {
    line-height: 20px;
    padding: 4px 4px 10px 4px;
    text-align: center
}

.product-list {

    padding: 0px 0px;
    transition: all .5s
}

.product-list-container {
    margin: 10px 15px;
    background: #fff;
    padding: 10px 0;
    /*border-radius: 10px;*/
    /*border: 1px solid transparent;*/
    transition: all .5s;
}
.product-list-container:hover {
    /*border: 1px solid #f90;*/
    /*border-radius: 10px;*/
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}

.product-list h4 {
    line-height: 32px;
    font-size: 14px;
    color: #f30;
    font-weight: 500
}

.product-list h4 span {
    font-size: 20px
}
.product-list .product-list-price,
.product-list .product-list-title,
.product-list .product-list-star{
    padding: 0;
    margin: 5px auto;
}
.product-list .special-price {
    font-size: 20px;
    /*color: grey;*/
    /*text-decoration: line-through;*/
}
.product-list .origin-price {
    margin-left: 5px;
    font-size: 15px;
    color: grey;
    text-decoration: line-through;
}
.product-list .product-list-percent{
text-align: center;
z-index: 10;
display: block;
position: absolute;
top: 10px;
right: 10px;
padding: 18px 0;
line-height: 20px;
height: 75px;
width: 75px;
font-size: 18px;
background: #ff7e00;
color: #fff;
border-radius: 50%;

}
.clipped {
    text-align: center;
    line-height: 46px;
    clip-path: polygon(50% 0%, 46.93% 3.1%, 43.47% 0.43%, 40.83% 3.9%, 37.06% 1.7%, 34.89% 5.49%, 30.87% 3.81%, 29.21% 7.85%, 25% 6.7%, 23.89% 10.92%, 19.56% 10.33%, 19.01% 14.66%, 14.64% 14.64%, 14.66% 19.01%, 10.33% 19.56%, 10.92% 23.89%, 6.7% 25%, 7.85% 29.21%, 3.81% 30.87%, 5.49% 34.89%, 1.7% 37.06%, 3.9% 40.83%, 0.43% 43.47%, 3.1% 46.93%, 0% 50%, 3.1% 53.07%, 0.43% 56.53%, 3.9% 59.17%, 1.7% 62.94%, 5.49% 65.11%, 3.81% 69.13%, 7.85% 70.79%, 6.7% 75%, 10.92% 76.11%, 10.33% 80.44%, 14.66% 80.99%, 14.64% 85.36%, 19.01% 85.34%, 19.56% 89.67%, 23.89% 89.08%, 25% 93.3%, 29.21% 92.15%, 30.87% 96.19%, 34.89% 94.51%, 37.06% 98.3%, 40.83% 96.1%, 43.47% 99.57%, 46.93% 96.9%, 50% 100%, 53.07% 96.9%, 56.53% 99.57%, 59.17% 96.1%, 62.94% 98.3%, 65.11% 94.51%, 69.13% 96.19%, 70.79% 92.15%, 75% 93.3%, 76.11% 89.08%, 80.44% 89.67%, 80.99% 85.34%, 85.36% 85.36%, 85.34% 80.99%, 89.67% 80.44%, 89.08% 76.11%, 93.3% 75%, 92.15% 70.79%, 96.19% 69.13%, 94.51% 65.11%, 98.3% 62.94%, 96.1% 59.17%, 99.57% 56.53%, 96.9% 53.07%, 100% 50%, 96.9% 46.93%, 99.57% 43.47%, 96.1% 40.83%, 98.3% 37.06%, 94.51% 34.89%, 96.19% 30.87%, 92.15% 29.21%, 93.3% 25%, 89.08% 23.89%, 89.67% 19.56%, 85.34% 19.01%, 85.36% 14.64%, 80.99% 14.66%, 80.44% 10.33%, 76.11% 10.92%, 75% 6.7%, 70.79% 7.85%, 69.13% 3.81%, 65.11% 5.49%, 62.94% 1.7%, 59.17% 3.9%, 56.53% 0.43%, 53.07% 3.1%);
}

.product-list .fa-star{
    color: #faa51a;
}
.u-flyer {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    z-index: 9999;
}

.button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 16px/100% 'Microsoft yahei', Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

/* orange */
.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.container {
    min-width: 320px;
}

@media (max-width: 768px) {
    .product-list {
        padding: 5px;
        min-height: 320px;
    }
    .product-list-container {
        margin: 0;
        /*background: #fff;*/
        padding:0px;
        /*border-radius: 10px;*/
    }

    .orange {
    }

    .button {
        padding: 0.45em .32em .5em;
    }
    .product-list p{
        font-size: 12px;
    }

    .product-list .product-list-percent{
        height: 45px;
        width: 45px;
        top: 5px;
        right: 5px;
        font-size: 13px;
        line-height: 18px;
        padding: 8px 0;
    }
}