/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/11 0011
 * Time: 12:00
 */

@media (min-width: 1200px){
    .relate-container .container{
        max-width: 1640px;
    }
}
.swiper-slide{
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;

}
.relate-container.container.mb-25{
    margin: 20px auto;
}
.relate-title{
    /*text-align: center;*/
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 0px;
}
.relate-title i{
    margin-right: 5px;
}
.card-header{
    padding: 0;
}
.btn .badge{
    left: 10px;
}
.product-list-title,
.product-list-price,
.star-box{
    font-size: 12px;
    margin-bottom: 0;
}
.product-list-price .origin-price{
    color: #8d98aa;
    text-decoration: line-through;
}
.product-list-title{
    padding: 0 5px;
}
.product-list-star{
    font-size: 12px;
    margin-bottom: 0;
}
.fa-star{
    color: #fb6426;
}
/*.product-list-percent{*/
    /*position: absolute;*/
    /*top: -25px;*/
    /*left: -25px;*/
    /*font-size: 12px;*/
    /*text-align: center;*/
    /*background: #fb6426;*/
    /*color: #ffffff;*/
    /*display: inline-block;*/
    /*transform: rotate(-45deg);*/
    /*height: 50px;*/
    /*width: 50px;*/
    /*line-height: 80px;*/
/*}*/
.product-list-percent{
    position: absolute;
    top: -25px;
    right: -25px;
    font-size: 12px;
    text-align: center;
    background: #fb6426;
    color: #ffffff;
    display: inline-block;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    line-height: 80px;
}
.half-block{
    width: 50%;
    /*display: inline-block;*/
    float: left;
    padding: 0 5px;
}
.list-right-msg.half-block{
    text-align: center;
}
.to-cart,
.to-detail{
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    margin-top: 10px;
    /*border-radius: 50%;*/
    display: inline-block;
    transition: all .5s;
}
.to-cart i{
    font-size: 20px;
    color: #333333;
}
.to-detail i{
    font-size: 16px;
    color: #333333;
}
.to-cart:hover{
    /*background: #333333;*/
    text-decoration: none;
}
.to-cart:hover i,
.to-detail:hover i{
    color: #fb6426;
}
@media (max-width: 376px) {
    .half-block{
        padding: 0;
    }
}
