/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/1 0001
 * Time: 17:30
 */

body {
    margin: 0;
    padding: 0;
    background: #000000;
}
a{
    color: #ffffff;
}

.main-center-bar {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #ffffff;
    min-height: 2000px;
    transition: all 0.5s;
}


.dis-i-b {
    display: inline-block;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.wid-85 {
    width: 85%;
}

.wid-15 {
    width: 15%;
}
.v-hidden{
    visibility: hidden;
}
.v-visble {
    visibility: visible;
}

.left-20 {
    left: -20px;
}


.pc-on {
    display: inline-block;
}

.mb-on {
    display: none;
}

.zindex-1 {
    z-index: 1;
}

.zindex-20 {
    z-index: 20;
}

@media screen and (max-width: 768px) {
    .wid-15 {
        width: 75%;
    }

    .wid-85 {
        width: 25%;
    }
    .mb-off {
        display: none;
        transition: 1.8s;
    }

    .mb-on {
        display: inline-block;
    }

    .pc-off {
        display: none;
    }

    .pc-on {
        display: inline-block;
    }

    .minw-in {
        min-width: auto !important;
    }

}