@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  src: local('Lily Script One'), local('LilyScriptOne-Regular'), url(../../../fonts/lhw9mv7zmfipdmxebjbvfn8sxlsihc6n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../../../fonts/mem8yags126mizpba-ufvz0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(../../../fonts/mem5yags126mizpba-unirkouuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../../../fonts/mem5yags126mizpba-un7rgouuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: local('Rubik Light'), local('Rubik-Light'), url(../../../fonts/ijwhbxyifdniv7fqj2md8wu.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'), url(../../../fonts/ijwkbxyifdniv7nbrxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(../../../fonts/ijwhbxyifdniv7eyjmmd8wu.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(../../../fonts/ijwhbxyifdniv7f6igmd8wu.ttf) format('truetype');
}
