<header class="header">
    <ul>
        <li class="menu-btn-box">
            <span id="menu-btn">MENU</span>
        </li>
        <li><img src="img/logo/logo (2).png"></li>
        <li class="mb-off li-hover">left memu1</li>
        <li class="mb-off li-hover">left menu2</li>

    </ul>
    <div class="" id="headInfor">
        <ul class="tips-list-box">
            <li>Extra $90 OFF Over $179!A</li>
            <li>Extra $80 OFF Over $279!B</li>
            <li>Extra $70 OFF Over $379!C</li>
            <li>Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D</li>
        </ul>
    </div>
</header>
<script type="text/javascript" src="js/header-fn.js"></script>
<!--over-->