<header class="header header-container container">
    <div class="row">
        <div class="col-4 header-left">
            <span class="fa fa-bars"></span>
            <span class="fa fa-search"></span>
        </div>
        <div class="col-4 header-center">
            <img src="img/logo/logo (2).png" alt="Your Logo">
        </div>
        <div class="col-4 header-right">
            <span class="fa fa-user-o"></span>
            <span class="fa fa-shopping-cart"></span>
        </div>
    </div>
</header>


<aside class="aside trl100">
    <ul class="menu-wrap">
        <li class="aside-title">MENU</li>
        <li>
            <ul class="menu-list-box">
                <li>
                    <a href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="###">WOMENS <span class="fa fa-plus"></span></a>
                    <ul class="menu-list-sbbox dis-no">
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="###">WOMENS</a>
                </li>
            </ul>
        </li>
    </ul>
 </aside>

<div class="layer-mask"></div>

<script type="text/javascript">
    $()
</script>

<!--over-->