<header id="header" class="header">
    <ul style="min-width: 320px;">
        <li class="menu-btn-box">
            <span id="menu-btn">MENU</span>
        </li>
        <li><img src="img/logo/logo (2).png"></li>
        <li class="mb-off li-hover">left memu1</li>
        <li class="mb-off li-hover">left menu2</li>

    </ul>
    <div class="" id="headInfor" style="width: 100%;min-width: 320px;height: 25px;line-height: 25px;overflow: hidden;margin: 0 auto;background: rgba(255, 255, 255, 0.25);border-top: 1px solid #EBEBEB;">
        <ul class="" style="margin: 0;color: #FFFFFF;text-align: center;">
            <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                $90 OFF Over $179!A</li>
            <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                $80 OFF Over $279!B</li>
            <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                $70 OFF Over $379!C</li>
            <li style="color: #FF4500;display:inline-block;height: 25px;line-height: 25px;width: 100%;min-width: 320px;margin: 0 auto;">Extra
                $70 OFF Over $379!D Extra $70 OFF Over $379!D Extra $70 OFF Over $379!D</li>
        </ul>
    </div>
</header>