<style type="text/css">
    .classify-wrap{
        width: 1300px;
        margin: 0 auto;
        overflow: hidden;
     }
    .classify{
        width: 200%;
    }
    .classify-img-box{
        border-radius: 50%;
        background: #ffffff;
        padding: 15px;
        overflow: hidden;
    }
    .classify-img-box img {
        width: 100%;
        border-radius: 50%;
    }
    @media only screen and (max-width: 479px){
        .classify-wrap{
            width: 100%;
        }
        .classify{
            width: 100%;
        }
    }
</style>
<div class="row classify-wrap">
    <div class="classify">
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/1.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/3.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/5.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/7.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/9.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/11.jpg" alt="">
        </div>
        <div class="col-md-1 col-xs-6 classify-img-box">
            <img src="static/img/classify/01/3.jpg" alt="">
        </div>
    </div>
</div>