<div class="product-area ptb-70">
    <div class="container">
        <div class="row">
            <div class="section-title col-lg-12">
                <h2>Featured Products <i class="fa fa-shopping-cart"></i></h2>
            </div>
        </div>
        <div class="row">
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/1.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/2.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$300.00</span></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/3.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/4.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$330.00</span><del class="prev-price">$362.00</del></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="sticker-new">-10%</span>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/5.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/6.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$900.00</span></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/7.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/8.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$430.00</span><del class="prev-price">$432.00</del></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="sticker-new">sale</span>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/9.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/10.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$70.00</span></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/11.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/12.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$20.00</span><del class="prev-price">$92.00</del></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="sticker-new">-20%</span>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/13.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/14.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$100.00</span></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <div class="kiosk-product-img">
                        <a href="product.html">
                            <img class="first-img" src="static/img/product/01/15.jpg" alt="single-product">
                            <img class="second-img" src="static/img/product/01/16.jpg" alt="single-product">
                        </a>
                    </div>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="kiosk-product-content">
                        <p><span class="price">$710.00</span></p>
                        <h4><a href="product.html">Lorem ipsum solet</a></h4>
                        <div class="kiosk-product-action">
                            <div class="kiosk-action-content">
                                <a href="wishlist.html" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                <a href="cart.html" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                <a href="product.html" data-toggle="tooltip" title="Product Details"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                    <span class="sticker-new">sale</span>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
        </div>
    </div>
</div>