/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/1 0001
 * Time: 18:24
 */

.header {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: rgba(255, 255, 255, .7);
    overflow: hidden;
    transition: all 0.5s;
}

.header ul {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    /* transition: all 0.5s; */
}

.header > ul {
    min-width: 320px;
}

.header ul li {
    padding: 0 10px;
    border-right: 1px solid #fff;
    float: left;
    height: 60px;
    line-height: 65px;
    text-transform: uppercase;
    letter-spacing: 2px;
    list-style: none;
}
.li-hover {
    cursor: pointer;
    transition: all .5s;
}
.header .menu-btn-box {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    opacity: .55;
    padding: 0 15px;
    transition: all 0.5s;
}
.header .cart-count-box{
    float: right;
}

#headInfor {
    width: 100%;
    min-width: 320px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    border-top: 1px solid #EBEBEB;
}

.tips-list-box {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
}

ul.tips-list-box li {
    color: #FF4500;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}
.cart-count{
    width: 40px;
    height: 40px;
    background: #000;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    transform: scale(0.5);
}
@media screen and (max-width: 768px) {
    .wid-15 {
        width: 75%;
    }

    .wid-85 {
        width: 25%;
    }



    .mb-off {
        display: none;
        transition: 1.8s;
    }

    .mb-on {
        display: inline-block;
    }

    .pc-off {
        display: none;
    }

    .pc-on {
        display: inline-block;
    }
}
/*over*/