/**
 * Created by WebStorm.
 * User: chig@foxmail.com
 * Date: 2018/12/13 0013
 * Time: 11:23
 */
/*控制header1侧栏高度对整体高度影响*/
.side-left-bar{
    display: none!important;
}
.main-center-bar{
    min-height: auto!important;
}

div#header-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom: 1px solid #ced4da;
}
.header {
    width: 100%;
    z-index: 40;
    background-color: #fff;

}
.header {
    display: block;
    top: 0!important;
    position: relative;
}
.header a:focus,
.header a:hover,
.header a:active{
    color: #333333;
    text-decoration: none;
}
.header-center{
    text-align: center;
}
.header-center img{
    width: 100%;
    max-width: 150px;
}
.header-right{
    text-align: center;
}
.header-left,
.header-right{
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 45px;
}
.header-center{
    padding: 5px 0;
}
.header-left span{
    margin-right: 10px;
    padding: 5px;
}
.header-right span{
    margin-left: 10px;
    padding: 5px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.header-right .cart-total{
    color: red;
    font-style: initial;
    font-size: 12px;
    transform:scale(0.75);
    position: absolute;
    top: 0;
    right: -5px;
}

.pc-nav-box ul{
    padding:0 5px;
}
.pc-nav-box ul li{
    list-style: none;
    font-size: 18px;
}
.pc-nav-box .nav-list-box{
    width: 100%;
    margin-bottom: 0;

}
.nav-list-box .nav-list{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    padding: 5px;
    position: relative;
    transform: all 300ms ease 0s;
}
.nav-toplist{
    min-width: 65px;
    line-height: 65px;
    display: inline-block;
    text-transform: uppercase;
    color: #333333;
    padding: 0 10px 0 0;
}
.nav-list .nav-sublist-box{
    background-color: #ffffff;
    color: #000000;
    top: 100%;
    width: 180px;
    padding: 15px 20px;
    position: absolute;
    transform-origin: 0 0 0;
    transform: scaleY(0);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    box-shadow: 1px 5px 10px #333333;
    transition: all 300ms ease 0s;
}
.nav-list:hover{
    background-color: #333333;
}
.nav-list:hover .nav-toplist{
    color: #ffffff;
}
.nav-list:hover .nav-sublist-box {
    visibility: visible;
    z-index: 100;
    opacity: 1;
    transform: scaleY(0.9);

}
/*.nav-list:hover .nav-sublist-box a{*/
    /*color: #000000;*/
    /*font-weight: 600;*/
/*}*/

.nav-sublist-box li{
    padding: 10px 5px;
}
.nav-sublist-box li a{
    text-transform: uppercase;
    color: #333333;
}
.nav-sublist:hover a{
    color: #000000;
    font-weight: 600;
}

.currency-select{
    text-transform: uppercase;
    margin: 0 auto;
}


@media (min-width: 769px) {
    .pc-dis-no{
        display: none!important;
    }
    .pc-dis-ib{
        display: inline-block;
    }
    .header-right span{
        font-size: 20px;
    }
}

.header-search-box,
.header-login-box{
    display:none;
    /*background:#0c1923;*/
    box-shadow: 1px 3px 6px rgba(169,169,169,.5);
}
.header-search-box .col-md-12,
.header-login-box .slide-subbox{
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    background:rgba(255, 255, 255, 0.25);
}
.header-login-box .slide-subbox li{
    list-style: none;
    display: inline-block;
    color: #333333;
}
.header-search-box .col-md-12 input{
    padding: 0 15px;
    height: 35px;
    min-width:252px;
    width: auto;
    border: none;
    border-radius: 0.25rem;
    border-bottom:1px solid #b2b2b2;
}
.header-search-box .col-md-12 .search-product-btn{
    margin-left: -40px;
}

.header-search-box .col-md-12 input:focus{
    outline: none;
}
.header-login-box .slide-subbox li,
.header-search-box .col-md-12 .search-product-btn a,
.header-login-box .slide-subbox li a{
    /*color: #ffffff;*/
    text-transform: uppercase;
    padding: 5px 10px;
}
.header-search-box .col-md-12 .search-product-btn a{
    color: #333333;
}
.header-login-box .slide-subbox li a{
    font-size: 12px;
}

.header-tips-box{
    background-color: #0c1923;
    background: linear-gradient(45deg, #0c1923 0%, #999999 55%,#0c1923 100%);
}

#headInfor {
    width: 100%;
    min-width: 320px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    /*margin: 0 auto;*/
    background: rgba(255, 255, 255, 0.25);
    border-top: 1px solid #EBEBEB;
}
.tips-list-box {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    padding-left: 0;
}

ul.tips-list-box li {
    color: #fff;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    font-size: 12px;
}

.header-main-box{
    /*max-width: 1300px;*/
    /*margin: 0 auto;*/
    padding: 0 15px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
}
.aside{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 500px;
    height: 100%;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
    z-index: 99;
}
.trl100{
    transform: translateX(0%);
}
.aside ul{
    padding: 0;
}
.aside .menu-wrap{
    background: rgba(255,255,255,.85);
    padding: 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba(255,255,255,.85);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.currency-select-box{
    border-bottom: 1px solid #d9d9d9;
    padding: 5px 15px;
    font-size: 12px;

}
.currency-select{
    text-align: right;
    border: none;
    outline: none;
    font-size: 12px;
}
.currency-select option{
    border: none;
    outline: none;
    font-size: 12px;
}
.aside-title{
    padding: 30px 15px;
    text-align: center;
}
.aside .menu-list-box li{
    padding: 10px 15px;
    list-style: none;
    font-size: 12px;
    border-top: 1px solid #d9d9d9;
}
.aside .menu-list-box>li>a{
    font-weight: 700;
}
.aside .menu-list-box li a{
    color: #000000;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.aside .menu-list-box>li>a>span{
    float: right;
    margin-top: 6px;
}

.menu-list{

}
.layer-mask{
    display: none;
    position: fixed;
    opacity: 0.55;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: #1b1513;
}

.dis-no{
    display: none;

}
.dis-bk{
    display: block;

}

.vis-visble{
    visibility: visible;
}
.position-fixed{
    position: fixed;
    overflow: hidden;
}

.width-auto{
    width: auto;
    max-width: initial;
}
@media (max-width: 768px) {
    .mb-dis-no{
        display: none!important;
    }
    .header-left, .header-right{
         line-height: 0px;
    }
    .header-right{
        text-align: right;
    }
}
@media only screen and (width:1024px){
    .nav-list-box .nav-list{
        margin-right: 0px;
        padding: 5px 6px;
    }

    header .col-md-4{
        max-width:18%;
    }
    header .col-md-8{
        max-width: 62%;
        padding: 0;
    }
    .header-right span {
        font-size: 18px;
        margin-left: 0px;
    }

}
@media only screen and (width:768px){
    .nav-list-box .nav-list{
        margin-right: 0px;
        padding: 5px 5px;
    }

}

div#banner-box{
    margin-top: 100px;
}

@media (min-width: 1200px){
    .classify-container .container,
    .content-box .container{
        max-width: 1640px;
    }

}
